@import 'variables';
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        width: 100%;
        height: 90px;
        padding: 0;
        z-index: 1000;
        img {
            margin: unset;
        }
        .burger-btn {
            display: none;
        }
        .close-btn {
            display: none;
        }
        .logoCtn {
            margin-left: 6%;
        }
        nav {
            display: flex;
            width: 43%;
            ul {
                display: flex;
                flex-flow: row wrap;
                align-self: flex-end;
                width: 100%;
                li {
                    display: flex;
                    align-self: center;
                    margin: 0 4%;
                    &:first-child {
                        margin-left: unset;
                    }
                    &:last-child {
                        margin-right: unset;
                    }
                    a {
                        text-align: justify;
                        font-size: 13px;
                        font-family: $montserrat;
                        color: $violeta;
                        text-decoration: none;
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                    .navOnclick {
                        color: $gris-desktop;
                    }
                    #crearGifo {
                        width: 54px;
                        height: 54px;
                        display: inline-block;
                        background-image: url(/images/button-crear-gifo.svg);
                        &:hover {
                            background-image: url(/images/CTA-crear-gifo-hover.svg);
                        }
                        &:active {
                            background-image: url(/images/CTA-crear-gifo-active.svg);
                        }
                    }
                    &:hover {
                        border-bottom: 2px solid #50E3C2;
                        &:last-child {
                            border-bottom: unset;
                        }
                    }
                }
            }
        }
    }
    main {
        align-items: center;
        .home {
            width: 100%;
            padding-top: 5%;
            h1 {
                width: 54%;
                font-size: 35px;
                line-height: 50px;
                text-align: center;
            }
            .people {
                max-width: 399px;
            }
            .search-cont {
                width: 55%;
                border-radius: 40px;
                .busqueda {
                    display: flex;
                    width: 100%;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    .search {
                        padding-left: 2%;
                        align-self: flex-start;
                        text-align: left;
                        &::placeholder {
                            color: $gris-desktop;
                        }
                    }
                }
                .buscadorSugerencia {
                    .sugerenciaCtn {
                        width: 100%;
                        p {
                            padding-left: 2%;
                            font-size: 16px;
                            font-family: $roboto;
                            color: $gris-desktop;
                        }
                        img {
                            padding-left: 1%;
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
            .gifos {
                .titulo-busqueda {
                    font-size: 35px;
                }
                .resultadoGifos {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    margin: auto;
                    .gif {
                        width: 260px;
                        height: 200px;
                        padding: unset;
                        margin: 1%;
                        &:hover {
                            .filter {
                                display: initial;
                                z-index: 0;
                                top: 0;
                                left: 0;
                                z-index: 100;
                                background-color: $violeta;
                                opacity: 60%;
                                position: absolute;
                                width: 100%;
                                height: 100%;
                            }
                            .btnGifs {
                                display: initial;
                            }
                            .namesGifs {
                                display: initial;
                                position: absolute;
                                bottom: 30px;
                                left: 18px;
                                display: flex;
                                flex-direction: column;
                                width: 90%;
                            }
                        }
                        .btnGifs {
                            display: flex;
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            display: none;
                            .ctnBtn {
                                width: 32px;
                                height: 32px;
                                background-color: white;
                                border-radius: 6px;
                                border: none;
                                opacity: 60%;
                            }
                            .favorite {
                                display: initial;
                                cursor: pointer;
                                &:hover {
                                    opacity: unset;
                                }
                                .fa-heart {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                            }
                            .download {
                                display: initial;
                                cursor: pointer;
                                margin: 0 10px;
                                &:hover {
                                    opacity: unset;
                                }
                                .fa-download {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                            }
                            .expand {
                                display: initial;
                                cursor: pointer;
                                &:hover {
                                    opacity: unset;
                                }
                                .fa-expand-alt {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                            }
                        }
                        //Nombre del autor y titulo del gif
                        .namesGifs {
                            display: none;
                            .userName {
                                display: flex;
                                font-family: $roboto;
                                color: #ffffff;
                                font-size: 15px;
                                font-weight: normal;
                                text-align: left;
                            }
                            .titleGif {
                                display: flex;
                                font-family: $roboto;
                                font-weight: bold;
                                font-size: 16px;
                                margin-top: 5px;
                                color: #ffffff;
                                text-align: left;
                            }
                        }
                    }
                }
            }
            .trends {
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 16px;
                }
            }
        }
        .trending {
            width: 100%;
            padding: 6% 0 9% 0;
            h3 {
                font-size: 25px;
            }
            p {
                font-size: 18px;
                line-height: 21px;
                padding: 1% 0 2% 0;
            }
            .contAllCarrusel {
                .ctnSliderLeft {
                    #slider-left {
                        display: initial;
                        width: 40px;
                        height: 40px;
                        left: 0;
                        cursor: pointer;
                    }
                    #slider-left-hover {
                        display: none;
                    }
                    &:hover {
                        #slider-left-hover {
                            display: initial;
                        }
                        #slider-left {
                            display: none;
                        }
                    }
                }
                .ctnSliderRight {
                    #slider-right {
                        display: initial;
                        width: 40px;
                        height: 40px;
                        right: 0;
                        cursor: pointer;
                    }
                    #slider-right-hover {
                        display: none;
                    }
                    &:hover {
                        #slider-right-hover {
                            display: initial;
                        }
                        #slider-right {
                            display: none;
                        }
                    }
                }
                .contCarrusel {
                    overflow: hidden;
                    scroll-behavior: smooth;
                    .carrusel {
                        width: max-content;
                        margin-top: 1%;
                        .gif {
                            width: 357px;
                            height: 275px;
                            margin: .3%;
                            &:hover {
                                .filter {
                                    display: initial;
                                    z-index: 0;
                                    top: 0;
                                    left: 0;
                                    z-index: 100;
                                    background-color: $violeta;
                                    opacity: 60%;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                }
                                .btnGifs {
                                    display: initial;
                                }
                                .namesGifs {
                                    display: initial;
                                    position: absolute;
                                    bottom: 30px;
                                    left: 18px;
                                    display: flex;
                                    flex-direction: column;
                                    width: 90%;
                                }
                            }
                            .btnGifs {
                                display: flex;
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                display: none;
                                .ctnBtn {
                                    width: 32px;
                                    height: 32px;
                                    background-color: white;
                                    border-radius: 6px;
                                    border: none;
                                    opacity: 60%;
                                    outline: none;
                                }
                                .fa-heart {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                                .fa-download {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                                .fa-expand-alt {
                                    color: $violeta;
                                    font-size: 18px;
                                }
                                .favorite {
                                    display: initial;
                                    cursor: pointer;
                                    &:hover {
                                        opacity: unset;
                                    }
                                }
                                .download {
                                    display: initial;
                                    cursor: pointer;
                                    margin: 0 10px;
                                    &:hover {
                                        opacity: unset;
                                    }
                                }
                                .expand {
                                    display: initial;
                                    cursor: pointer;
                                    &:hover {
                                        opacity: unset;
                                    }
                                }
                            }
                            //Nombre del autor y titulo del gif
                            .namesGifs {
                                display: none;
                                .userName {
                                    display: flex;
                                    font-family: $roboto;
                                    color: #ffffff;
                                    font-size: 15px;
                                    font-weight: normal;
                                    text-align: left;
                                }
                                .titleGif {
                                    display: flex;
                                    font-family: $roboto;
                                    font-weight: bold;
                                    font-size: 16px;
                                    margin-top: 5px;
                                    color: #ffffff;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 15%;
        height: 116px;
        .compartir {
            margin-left: 1.5rem;
        }
    }
}